In [8]:
import pandas as pd
from pycaret.classification import *

In [ ]:
#cleaned_data_spatial_info = pd.read_excel(config.DATASET_WITH_SPATIAL_INFO)

In [2]:
df = pd.read_csv('../../Bases de datos/df_to_explain.csv', encoding='utf-8-sig')
df

,periodo,tipo_geoco,gravedad,diseno,mes,dia,areagralus,cod_subcat,subcategor,hierarchy,...,modelo,zona,edad_condu,sexo,dia_semana,hora,Gi_Bin,LMiIndex,LMiPValue,COType
0,2020.0,road_network,damage_only,road_segment,3.0,10.0,high_mix_use_areas_and_corridors,32.0,centralities_and_corridors_with_high_mix,4.0,...,2017.0,comuna_11,56.0,male,Tuesday,6.0,3,-0.007433,0.010,LH
1,2020.0,road_network,damage_only,road_segment,3.0,10.0,high_mix_use_areas_and_corridors,32.0,centralities_and_corridors_with_high_mix,4.0,...,2013.0,comuna_11,61.0,male,Tuesday,6.0,3,-0.007433,0.010,LH
2,2021.0,road_network,injured,road_segment,1.0,24.0,existing_public_space,43.0,public_green_areas_in_the_mobility_system,1.0,...,2016.0,comuna_9,33.0,male,Sunday,7.0,3,-0.003324,0.004,LH
3,2021.0,road_network,injured,road_segment,1.0,24.0,existing_public_space,43.0,public_green_areas_in_the_mobility_system,1.0,...,2017.0,comuna_9,48.0,male,Sunday,7.0,3,-0.003324,0.004,LH
4,2021.0,road_network,injured,road_segment,1.0,24.0,existing_public_space,43.0,public_green_areas_in_the_mobility_system,1.0,...,2016.0,comuna_9,34.0,male,Sunday,7.0,3,-0.003324,0.004,LH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87644,2014.0,not_located,damage_only,road_segment,12.0,29.0,,0.0,,0.0,...,2011.0,comuna_14,46.0,male,Monday,15.0,0,0.000000,0.000,none
87645,2014.0,not_located,damage_only,road_segment,12.0,29.0,,0.0,,0.0,...,2008.0,jurisdiccion,60.0,male,Monday,22.0,0,0.000000,0.000,none
87646,2014.0,not_located,damage_only,road_segment,12.0,29.0,,0.0,,0.0,...,2009.0,jurisdiccion,26.0,male,Monday,22.0,0,0.000000,0.000,none
87647,2014.0,not_located,damage_only,road_segment,12.0,30.0,,0.0,,0.0,...,1989.0,jurisdiccion,47.0,male,Tuesday,8.0,0,0.000000,0.000,none
87648,2014.0,not_located,damage_only,road_segment,12.0,30.0,,0.0,,0.0,...,2014.0,jurisdiccion,70.0,male,Tuesday,8.0,0,0.000000,0.000,none

In [3]:
df.columns

Index(['periodo', 'tipo_geoco', 'gravedad', 'diseno', 'mes', 'dia',
       'areagralus', 'cod_subcat', 'subcategor', 'hierarchy', 'road_class',
       'estrato_pr', 'clase_acci', 'clase_vehi', 'tipo_servi', 'marca',
       'modelo', 'zona', 'edad_condu', 'sexo', 'dia_semana', 'hora', 'Gi_Bin',
       'LMiIndex', 'LMiPValue', 'COType'],
      dtype='object')

In [4]:
columns_to_remove = ['Gi_Bin', 'LMiIndex', 'LMiPValue']
 
# Remove specified columns
df = df.drop(columns=columns_to_remove)

In [5]:
columns_list = [col for col in df.columns if col != 'gravedad']

# Separate numeric and string columns
numeric_columns = []
string_columns = []

# Check if each column is numeric or contains strings
for col in columns_list:
    if pd.to_numeric(df[col], errors='coerce').notnull().all():
        numeric_columns.append(col)
    else:
        string_columns.append(col)

# Print numeric and string columns
print("Numeric Columns:", numeric_columns)
print("String Columns:", string_columns)

Numeric Columns: ['periodo', 'mes', 'dia', 'cod_subcat', 'hierarchy', 'road_class', 'estrato_pr', 'modelo', 'edad_condu', 'hora']
String Columns: ['tipo_geoco', 'diseno', 'areagralus', 'subcategor', 'clase_acci', 'clase_vehi', 'tipo_servi', 'marca', 'zona', 'sexo', 'dia_semana', 'COType']

In [6]:
# Remove 'mes' and 'dia' from the numeric columns list
numeric_columns.remove('mes')
numeric_columns.remove('dia')

# Add 'mes' and 'dia' to the string columns list
string_columns.extend(['mes', 'dia'])

In [9]:
# Setup the model with manual data type specification
setup(data=df, 
      target='gravedad', 
      fix_imbalance=True, 
      session_id=2023,
      normalize = True,
      data_split_stratify = True,
      fold_strategy = 'stratifiedkfold',
      numeric_features=numeric_columns,
      categorical_features=string_columns)#,
      #ignore_features=['clase_acci'],
      #normalize_method="zscore",
      #transformation=True)

In [10]:
train_model = compare_models(sort='Precision')